.comment {
	padding: 10px;
	border: 1px solid var(--secondary);
	border-radius: 5px;

	& > .comment__author {
		color: var(--primary);
		margin-bottom: 5px;
	}

	& > .comment__name {
		font-weight: 500;
	}
}
